graphviz
imageio
kneed
librosa
matplotlib
moviepy
noisereduce
num2words
numpy==1.20.0
opencv_python
pandas
pdfminer.six
PyAudio
pydub
python_docx
python_speech_features
pytube3
regex
requests
scipy
sentencepiece
tensorboard
tensorflow
tensorflow_datasets
torch
tqdm
transformers
umap_learn
Unidecode
pydot