graphviz
imageio
kneed
librosa
matplotlib
moviepy
noisereduce
num2words
numpy
opencv_python
pandas
pdfminer.six
pydub
python_docx
python_speech_features
pytube3
regex
requests
sentencepiece
tensorboard
tensorflow_datasets
tensorflow_intel
torch
tqdm
transformers
umap_learn
Unidecode
pydot