Unidecode
ffmpeg_python
graphviz
imageio
librosa
matplotlib
noisereduce
num2words
numpy
opencv_python
pandas
pdfminer.six
pydot
pydub
python_docx
regex
requests
tensorflow==2.10.0
tensorflow_datasets
tqdm
umap_learn